@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
    .sidebar-page .page_menu_title h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #000;
        text-align: center;
    }

    .tree-menu {
        margin-left: 20px;
    }

    .sidebar-page .group-menu {
        margin: 0 0 30px;
        position: relative;
        padding: 20px;
        border: 1px solid #e3e5ec;
        background-color: white;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 10px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .sidebar-page .box_image {
        margin-bottom: 30px;
    }

    .visible-lg {
        display: block !important;
    }

    .box_image .banner {
        position: relative;
        overflow: hidden;
    }

    img {
        max-width: 100%;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }

    .heading-page h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .wrapbox-content-page {
        padding-bottom: 30px;
    }
    }
</style>
<div class="container ">
    <hr />
    <div class="container">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-page">
                <div class="group-menu">
                    <div class="page_menu_title title_block">
                        <h2>Danh mục trang</h2>
                    </div>
                    <div class="layered layered-category">
                        <div class="layered-content">
                            <ul class="tree-menu">
                                <li>Tìm kiếm</li>
                                <li class="tree-menu-lv1 active  has-child  menu-collap ">Giới thiệu</li>
                                <li>Chính sách</li>
                                <li>Bảo mật</li>
                                <li>Điều khoản</li>
                                <li>Dịch vụ</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box_image visible-lg visible-md">
                    <div class="banner">
                        <a href="/">
                            <img src="~/Image/haui.jpg" alt="MayAnhPho" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="page-wrapper">
                <div class="heading-page">
                    <h1>Giới thiệu</h1>
                    <h2>Shop Máy Ảnh - Nơi mua sắm máy ảnh, máy quay hàng đầu Việt Nam!</h2>
                    <hr />
                </div>
            </div>
            <div class="wrapbox-content-page">
                <div class="content-page ">
                    <p>
                        MayAnhPho được xây dựng năm 2022 nhằm mục đính hoàn thành đề tài đồ án tốt nghiệp.
                        <br />
                        Với bề dày kinh nghiệm hoạt động trong lĩnh vực phân phối, tư vấn, bảo hành và sửa chữa máy ảnh, máy quay phim kỹ thuật số, vật tư ngành ảnh.
                        <br />
                        MayAnhPho mang lại cho quý khách niềm đam mê, một sự hiểu biết sâu sắc và sản phẩm chất lượng tốt nhất.
                        <br />
                        Mục tiêu kinh doanh của chúng tôi là UY TÍN – CHẤT LƯỢNG phải đặt lên hàng đầu.
                        <br />
                        Quyền lợi của khách hàng là phải được tư vấn hiểu biết mọi thông tin để quý khách hàng có thể lựa chọn 1 sản phẩm
                        mà khi đưa vào sử dụng khách hàng có thể hài lòng với số tiền mình bỏ ra.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
