<div class="col-lg-3 col-md-6 ">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.DonHangDaGiao</div>
                    <div>Orders!</div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel-footer">
                <span class="pull-left">Đơn hàng đã giao</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>




<div class="col-xl-3 col-md-6 mb-4" style="margin-bottom: 10px; margin-right: 50px; width: 300px; border: 1px solid; border-radius: 10px 10px 10px 10px; background-color: #00f100; padding: 200; ">
    <div class="card border-left-success shadow h-100 py-2" style="height: 90.39px; border: solid; background-color: white; border-color: #00f100; ">
        <div class="card-body">
            <div class="row no-gutters align-items-center" style="text-align: left;padding-left: 30px;">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="color: #00f100"><b>Đơn hàng đã giao</b></div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DonHangDaGiao</div>
                </div>
                <div class="col-auto">
                    <i class="fa fa-dollar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>


