<div class="col-lg-4 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@ViewBag.SoLuongDonHang</div>
                    <div>Orders!</div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel-footer">
                <span class="pull-left"><h4>Số Lượng đơn hàng</h4></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
