@model MayAnhPho.Models.Nguoidung
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    var u = Session["use"] as MayAnhPho.Models.Nguoidung;
}

@{
    if (u != null)
    {

        <h2>Xin chào : @u.Email</h2>
        @Html.ActionLink("Đăng xuất", "DangXuat", "User")
    }

    <div> Pham Duc</div>

}

